<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdminLTE 3 | Log in (v2)</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css')}}" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}" />
  </head>
  <body class="login-page" style="min-height: 466px">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="#" class="h1"><b>SysProd</b></a>
        </div>
        <div class="card-body">
          <!-- Mensajes de flash -->
          {% with messages = get_flashed_messages() %} {% if messages %}
          <div class="alert alert-warning">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %} {% endwith %}
          <p class="login-box-msg">Ingrese sus credenciales</p>
          <form action="{{ url_for('auth.login') }}" method="post">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Usuario"
                name="username"
                autofocus
                autocomplete="off" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                name="contra"
                autocomplete="off" />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8"></div>

              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">
                  Sign In
                </button>
              </div>
            </div>
          </form>

          <p class="mb-1">
            <a href="{{ url_for('pss-recover.index') }}"
              >Olvido su contraseña?</a
            >
          </p>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>

    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{ url_for('static', filename='dist/js/adminlte.min.js')}}"></script>
  </body>
</html>
