<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reset Password</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'plugins/fontawesome-free/css/all.min.css') }}" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}" />
  </head>
  <body>
    <div class="col-md-6" style="margin: auto; margin-top: 15%">
      <div class="card card-info">
        <div class="card-header">
          <h3 class="card-title">Recuperar contraseña</h3>
        </div>
    <form method="POST" action="{{ url_for('pss-recover.update_password') }}">
      <div class="card-body">
      <input type="hidden" name="username" value="{{ username }}" />
      <div class="form-group">
        <input
        type="password"
        name="new_password"
        placeholder="Nueva Contraseña"
        required
        class="form-control" />
      </div>
      <div class="form-group">
        <input
        type="password"
        name="confirm_password"
        placeholder="Confirmar Nueva Contraseña"
        required
        class="form-control"/>
      </div>
      <!-- <button type="submit" >Restablecer Contraseña</button> -->
    </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-info float-right">Restablecer Contraseña
        </button>
      </div>
    </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename= 'plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename= 'plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
      </div>
  </body>
</html>
