{% extends "base.html" %} {% block alta_usuarios %}

<div class="card card-primary">
    <div class="card-header">
      <h1 class="card-title">Editar Usuarios</h1>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

      <div class="alert alert-dismissible fade show" role="alert">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <form action="{{ url_for('alta_usuarios.edit_usuario', usuario_id=usuario.id) }}" method="post">
        <div class="card-body">
        <div class="form-group">
            <label for="fullname">Nombre Completo</label>
            <input type="text" class="form-control" id="fullname" name="fullname" value="{{ usuario.full_name }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ usuario.email }}" required>
        </div>
        <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ usuario.username }}" required>
        </div>
        <div class="form-group">
            <label for="gru_cod">Rol</label>
            <select name="gru_cod" id="gru_cod" class="form-control" required>
                <option value="1" {% if usuario.gru_cod == 1 %}selected{% endif %}>Admin</option>
                <option value="2" {% if usuario.gru_cod == 2 %}selected{% endif %}>Cajero</option>
                <option value="3" {% if usuario.gru_cod == 3 %}selected{% endif %}>Bibliotecario</option>
                <option value="4" {% if usuario.gru_cod == 4 %}selected{% endif %}>Gerente</option>
                <option value="5" {% if usuario.gru_cod == 5 %}selected{% endif %}>Asistente de Biblioteca</option>

            </select>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <select name="estado" id="estado" class="form-control" required>
                <option value="1" {% if usuario.estado == 1 %}selected{% endif %}>Activo</option>
                <option value="2" {% if usuario.estado == 2 %}selected{% endif %}>Deshabilitado</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
</div>


{% endblock %} 