{% extends 'base.html' %} {% block ubicaciones %}
<div class="card-header">
  <h3 class="card-title">Ubicaciones</h3>
</div>
<!-- Tabla de libros -->
<div class="card-body">
  <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
    <div class="row">
      <div class="col-sm-12">
        <table
          id="example1"
          class="table table-bordered table-striped dataTable dtr-inline"
          aria-describedby="example1_info"
        >
        <button type="button" style="margin-left: 50rem;" class="btn btn-success" data-toggle="modal" data-target="#nuevaUbicacionModal" 
                    >Nueva Ubicación</button>
          <thead>
            <tr>
              <th

                class="sorting sorting_asc"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"
                colspan="1"
                aria-sort="ascending"
                aria-label="Rendering engine: activate to sort column descending"
              >
                ID
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"
                colspan="1"
                aria-label="Browser: activate to sort column ascending"
              >
                Libro
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"
                colspan="1"
                aria-label="Platform(s): activate to sort column ascending"
              >
                Sección
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"

                colspan="1"
                aria-label="Engine version: activate to sort column ascending"
              >
                Estanteria
              </th>
              <th

                class="sorting"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"
                colspan="1"
                aria-label="CSS grade: activate to sort column ascending"
              >
                Columna
              </th>
              <th
                class="sorting"
                tabindex="0"
                aria-controls="example1"
                rowspan="1"
                colspan="1"
                aria-label="CSS grade: activate to sort column ascending"
              >
                Acciones
              </th>
            </tr>
          </thead>
          <tbody>
            {% for ubicacion in ubicaciones %}
              <tr class="{% if loop.index % 2 == 0 %}even{% else %}odd{% endif %}">
                <td class="dtr-control sorting_1" tabindex="0">{{ ubicacion.id }}</td>
                <td>{{ ubicacion.titulo }}</td>
                <td>{{ ubicacion.seccion }}</td>
                <td>{{ ubicacion.estanteria }}</td>
                <td>{{ ubicacion.columna }}</td>
                <td>

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal{{ ubicacion.id }}" 
                    onclick="setBookId({{ ubicacion.id }})">Editar</button>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#eliminarModal{{ ubicacion.id }}" 
                    onclick="setBookId({{ ubicacion.id }})">Eliminar</button>
                  
              </tr>

              {% endfor %}
            


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Tabla de libros -->
{% for ubicacion in ubicaciones %}
<div class="modal fade" id="eliminarModal{{ ubicacion.id }}" style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header">
        <h4 class="modal-title">Confirmar Ubicación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>

      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('alta_libros.eliminar_ubicacion', ubicacion_id=ubicacion.id) }}" id="eliminarForm{{ ubicacion.id }}">
          <input type="hidden" id="ubicacion_id{{ ubicacion.id }}" name="ubicacion_id" value="{{ ubicacion.id }}" readonly>
          <div class="form-group">
            <label for="motivo">Motivo</label>

            <input type="text" class="form-control" id="motivo" name="motivo" required>
            </div>
            </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Confirmar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Fin de la modal de eliminación -->

  <!-- modal edit ubicacion-->
  <div class="modal fade" id="editarModal{{ ubicacion.id }}" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editar Ubicación</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('alta_libros.editar_ubicacion', ubicacion_id=ubicacion.id) }}" id="editarForm{{ ubicacion.id }}">
            <input type="hidden" id="ubicacion_id{{ ubicacion.id }}" name="ubicacion_id" value="{{ ubicacion.id }}" readonly>
            <input type="hidden" id="libro_id{{ ubicacion.id }}" name="libro_id" value="{{ ubicacion.libro_id }}" readonly>
            <div class="form-group">
              <label>Seleccionar Libro</label>
              <input type="text" class="form-control" id="libro_id" name="libro_id" value="{{ ubicacion.titulo }}" readonly>
            </div>
          <div class="form-group">
            <label for="seccion">Sección</label>


            <input type="text" class="form-control" id="seccion" name="seccion" value="{{ ubicacion.seccion }}" required>
          </div>
          <div class="form-group">
            <label for="estanteria">Estantería</label>

            <input type="text" class="form-control" id="estanteria" name="estanteria" value="{{ ubicacion.estanteria }}" required>
          </div>
          <div class="form-group">

            <label for="columna">Columna</label>
            <input type="text" class="form-control" id="columna" name="columna" value="{{ ubicacion.columna }}" required>
          </div>
        </div>
          <div class="modal-footer justify-content-between">

            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-danger">Confirmar</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  <!-- Fin de la modal de edición -->

  <!-- modal nueva ubicacion-->
  <div class="modal fade" id="nuevaUbicacionModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Nueva Ubicación</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ url_for('alta_libros.registrar_ubicacion') }}" id="nuevaUbicacionForm">
            <div class="form-group">
                <label>Seleccionar Libro</label>
                <select name="libro_id" id="libro_id" class="form-control select2" style="width: 100%;" required>
                  {% for libro in libros %}
                    <option value="{{ libro.id }}">{{ libro.titulo }}</option>
                  {% endfor %}
                </select>
              </div>
            <div class="form-group">
              <label for="seccion">Sección</label>
              <input type="text" class="form-control" id="seccion" name="seccion" required>
            </div>
            <div class="form-group">
              <label for="estanteria">Estantería</label>
              <input type="text" class="form-control" id="estanteria" name="estanteria" required>
            </div>
            <div class="form-group">
              <label for="columna">Columna</label>
              <input type="text" class="form-control" id="columna" name="columna" required>
            </div>
            <input type="hidden" id="ubicacion_id" name="ubicacion_id" value="{{ ubicacion.id }}" readonly>
          </form>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger" form="nuevaUbicacionForm">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
  function setBookId(ubicacionId) {
    document.getElementById('ubicacion_id' + ubicacionId).value = ubicacionId;
    // Actualiza la acción del formulario para incluir el ID de la ubicación
    document.getElementById('eliminarForm' + ubicacionId).action = "{{ url_for('alta_libros.eliminar_ubicacion', ubicacion_id='') }}" + ubicacionId;
    document.getElementById('editarForm' + ubicacionId).action = "{{ url_for('alta_libros.editar_ubicacion', ubicacion_id='') }}" + ubicacionId;
    document.getElementById('nuevaUbicacionForm').action = "{{ url_for('alta_libros.registrar_ubicacion') }}";



</script>
<script>
  $(document).ready(function() {
    // Inicializar DataTables
    $('#example1').DataTable({
      "responsive": true,
      "autoWidth": false,
      "language": {
        "search": "Buscar:",
        "lengthMenu": "Mostrar _MENU_ registros",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
        "paginate": {
          "first": "Primero",
          "last": "Último",
          "next": "Siguiente",
          "previous": "Anterior"
        }
      }
    });

    // Inicializar Select2
    $('#seccion').select2(); // Asegúrate de que el ID sea correcto
  });
</script>
<script>
    $(document).ready(function() {
        // Inicializar Select2 para el campo de selección de libros
        $('#libro_id').select2({
          placeholder: "Seleccionar un libro",
          allowClear: true
        });



    });
</script>

<script>
  $(document).ready(function() {
    // Configuración de Toastr
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": true,
      "progressBar": true,
      "positionClass": "toast-top-right", // Cambia la posición según tus preferencias
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000", // Tiempo que se muestra el mensaje
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };

    // Mostrar mensajes de Toastr
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          toastr.{{ category }}("{{ message }}");
        {% endfor %}
      {% endif %}
    {% endwith %}
  });
</script>
{% endblock %}}